lesson17/src/lesson17/task2/currency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="excganges" type="excgangesType"/>
  <xs:complexType name="rateType">
    <xs:sequence>
      <xs:element type="xs:string" name="ccy"/>
      <xs:element type="xs:string" name="base_ccy"/>
      <xs:element type="xs:string" name="buy"/>
      <xs:element type="xs:string" name="sale"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="excgangesType">
    <xs:sequence>
      <xs:element type="rateType" name="rate"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>